
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <%= stylesheet_link_tag "work.css" %>

    <%= javascript_include_tag "static.js"  %>
    <%= javascript_include_tag "mobile_nav_animations.js"  %>
    <title>Luca Imbrogno - Projects</title>
</head>
<body>

<h1 id="main-title">LUCA IMBROGNO</h1>

<%= render :partial => "/utilities/mobile_nav" %>

<div class="wrapper">

    <div class="sidebar">
        <%= render :partial => "/utilities/header" %>
    </div>

    <div class="main_content">
        <div class="header">
            Amazon Price Tracker
        </div>
        <a href="/projects" class="back">
            <i class="fas fa-angle-left"></i>  Back To Projects
        </a>
        <div class="info">
            <div class="ar-container">
                <a href="https://github.com/lucaimbrogno/Amazon-Tracker" target="_blank" class="ar-pic amazon-pic">
                    <%= image_tag "amazon_2.PNG", style: 'width:100%;border-radius:4px'  %>
                </a>
                <div class="project-text">
                    Simple amazon product tracker. I saw a similar project online of a tracker that tracks a single product on amazon and recognizes when that product falls below a certain price so I wanted to expand and build on that idea by making something that can be scaled to track as many products as you wish and an automatic email system that emails you with links to all your desired product pages when your desired price is met. I also implemented it so it can run as a background process and check prices once a day. This could be useful to run as a daemon on a web application
                </div>
            </div>
        </div>

        <div class="notes">
            <p><strong>Project Notes:<br></strong> Tools used to build this project:  Python, BeautifulSoup library, Simple Mail Transport Protocol (SMTP) library </p>
        </div>
    </div>

</div>
</body>
</html>