
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <%= stylesheet_link_tag "work.css" %>

    <%= javascript_include_tag "static.js"  %>
    <%= javascript_include_tag "mobile_nav_animations.js"  %>
    <title>Luca Imbrogno - Projects</title>
</head>
<body>
<a href="#" onclick="openSideMenu()">
    <i class="fas fa-bars" id="open-nav-icon"></i>
</a>
<h1 id="main-title">LUCA IMBROGNO</h1>
<div class="wrapper">

    <div class="sidebar">
        <%= render :partial => "/utilities/header" %>
    </div>

    <div class="main_content">
        <div class="header">
            Quidditch Database
        </div>
        <a href="/projects" class="back">
            <i class="fas fa-angle-left"></i>  Back To Projects
        </a>
        <div class="info">
            <div class="ar-container">
                <div class="project-text">
                    This project I completed for my final project in my Database course. I created a database using HeidiSQL and MySQL which was based off of the sport Quidditch which is played by the characters in the Harry Potter books and movies. The database stored the names of quidditch players and some other additional information like role in the team, position, team names, etc.
                </div>
                <div class="project-pic">
                        <%= image_tag "database_1.png" %>
                        <%= image_tag "database_2.png", style: "width:600px !important" %>
                </div>

            </div>
        </div>

        <div class="notes">
            <p><strong>Project Notes:<br></strong> Tools used to build this project:  MySQL, HeidiSQL</p>
        </div>
    </div>

</div>
</body>
</html>