
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Noto+Sans+TC:700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <title>Luca Imbrogno - Coronavirus Dashboard</title>
</head>
<body>
<a href="#" onclick="openSideMenu()">
    <i class="fas fa-bars" id="open-nav-icon"></i>
</a>
<h1 id="main-title">LUCA IMBROGNO</h1>
<div class="wrapper">

    <div class="sidebar">
        <%= render :partial => "/utilities/header" %>
    </div>

    <div class="main_content">
        <div class="header">Coronavirus Tracker (Work In Progress)</div>
        <a href="/projects" class="back">
            <i class="fas fa-angle-left"></i>  Back To Projects
        </a>

        <div class="count" style="display: none">10</div>

        <div class="corona-main">
            <div id="overall-stats">
                <div>
                    <div class="value-results corona-stats count">
                        <%= @corona_stats[:overall_count] %>
                    </div>
                    <div class="corona-text-results">
                        WORLDWIDE CASES <br>
                    </div>
                </div>
                <div>
                    <div class="value-results corona-stats count" style="color: red">
                        <%= @corona_stats[:deaths] %>
                    </div>
                    <div class="corona-text-results">
                        TOTAL DEATHS <br>
                    </div>
                </div>
                <div>
                    <div class="value-results corona-stats count">
                        <%= @corona_stats[:country_count] %>
                    </div>
                    <div class="corona-text-results">
                        COUNTRIES AFFECTED <br>
                    </div>
                </div>
                <div>
                    <div class="value-results corona-stats count" style="color: cornflowerblue">
                        <%= @corona_stats[:recovered] %>
                    </div>
                    <div class="corona-text-results">
                        TOTAL RECOVERED <br>
                    </div>
                </div>
            </div>
            <div id="country-stats">
                <div class="corona-text-results">
                   COUNTRY RANKING <br>
                </div>
                <div class="value-results country-list">
                    <div class="scroll">
                        <table>
                            <tr>
                                <th>Country</th>
                                <th>Cases Reported</th>
                            </tr>

                                <% @countries.each_with_index do |country, index| %>
                                    <tr>
                                        <td>
                                        <%= (index+1).to_s + ". " + country[0] %>
                                        </td>
                                        <td>
                                            <%= country[1] %>
                                        </td>
                                    </tr>

                                <% end %>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="corona-cta">
            <div>
            You can donate to help support affected communities and help stop the spread of COVID-19 here
            </div>
            <a href="https://www.globalgiving.org/projects/coronavirus-relief-fund/" class="corona-button">
                 Coronavirus Relief Fund
            </a>
        </div>
        <div class="corona-map-container">
<!--            <div id="corona-map"></div>-->
        </div>
        <div class="notes">
            <p><strong>Project Notes:<br></strong> All data is pulled from https://www.worldometers.info/ </p>
        </div>
    </div>

</div>




<%= javascript_include_tag "mobile_nav_animations"  %>
<%= javascript_include_tag "corona_dash"  %>
</body>
</html>
